<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="in.gov.hp.Aadhaar_HP.SRDH" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> android.permission.ACCESS_NETWORK_STATE
<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:launchMode="singleInstance" android:name="in.gov.hp.Aadhaar_HP.SRDH.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleInstance" android:name="in.gov.hp.Aadhaar_HP.SRDH.DateTimePicker" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleInstance" android:name="in.gov.hp.Aadhaar_HP.SRDH.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_sign_in" android:name="in.gov.hp.Aadhaar_HP.SRDH.SignIn" android:screenOrientation="portrait"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="in.gov.hp.Aadhaar_HP.SRDH.ViewPagerStyle1Activity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_log_out" android:launchMode="singleInstance" android:name="in.gov.hp.Aadhaar_HP.SRDH.LogOut" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_user_list" android:name="in.gov.hp.Aadhaar_HP.SRDH.AdvancedListFive" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_user_details_search" android:launchMode="singleInstance" android:name="in.gov.hp.Aadhaar_HP.SRDH.UserDetailsSearch" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_uid__search__list" android:launchMode="singleInstance" android:name="in.gov.hp.Aadhaar_HP.SRDH.UID_Search_List" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_eid__search__list" android:launchMode="singleInstance" android:name="in.gov.hp.Aadhaar_HP.SRDH.EID_Search_List" android:screenOrientation="portrait"/>
    </application>
</manifest>